<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheet/main.css">
<link rel="stylesheet" href="/stylesheet/form.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
<div class="wrapper">
    <h1 class="primary-heading">create new blog post</h1>
        <form action="/admin/new-post" method="post">
            <label for="title">Title: </label>
            <input type="text" name="title" placeholder="Title" class="input-title" autocomplete="off">
            <label for="author">Author: </label>
            <input type="text" name="author" placeholder="Author" class="input-title" autocomplete="off">
            <label for="description">Description: </label>
            <input type="text" name="description" placeholder="Description"  autocomplete="off"class="input-description">
            <label for="body">Body: </label>
            <textarea name="body" class="input-body" placeholder="body" autocomplete="off" rows="5"></textarea>
            <input type="submit" value="create post" class="submit-btn btn">
        </form>
</div>

<%- include('../partials/bottom.ejs') %>